@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
    ViewBag.Title = "Tests d'erreurs";
}
<ul>
    <li><a href="~/Errors/Dashboard">Dashboard</a></li>
    <br />
    <li><a href="~/Check/SAIGroup">Contrôle des groupes SAI (aucune erreur)</a></li>
    <li><a href="~/Check/DuplicatePhone">Contrôle des doublons dans les numéros de téléphone</a></li>
    <li><a href="~/Check/GroupsDescription">Contrôle des descriptions de groupes</a></li>
    <li><a href="~/Check/UsersAddress">Contrôle des adresses des sites Orif</a></li>
</ul>