@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
    ViewBag.Title = "Tests d'erreurs";
}
<ul>
    <li><a href="~/Errors/Dashboard">Dashboard</a></li>
    <br />
    <li><a href="~/Check/SAIGroup">SAIGroup</a></li>
    <li><a href="~/Check/DuplicatePhone">DuplicatePhone</a></li>
    <li><a href="~/Check/GroupsDescription">GroupsDescription</a></li>
    <li><a href="~/Check/UsersAddress">UsersAddress</a></li>
</ul>