@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
    ViewBag.Title = "Rechercher un groupe";
}
<div class="row">
    <div class="col-lg-6">
        <form method="post">
            <input type="text" name="group" id="group" />
            <input type="submit" />
        </form>
    </div>
    <div class="col-lg-6 text-right">
        <a href="~/Info/FindUser">Rechercher un utilisateur</a>
    </div>
</div>

@if (ViewBag.Groups != null)
{
    <table class="table">
        <tr>
            <th>Identifiant</th>
            <th>Nom affiché</th>
            <th>Description</th>
        </tr>
        @foreach (var group in ViewBag.Groups)
        {
            <tr>
                <td><a href="~/Info/DetailGroup/@group.PropertyToString("samAccountName")/0">@group.PropertyToString("samAccountName")</a></td>
                <td>@group.PropertyToString("displayName")</td>
                <td>@group.PropertyToString("description")</td>
            </tr>
        }
    </table>
}
