@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
    ViewBag.Title = "Groupe";
}

<div class="row">
    <div class="col-lg-6"><strong>Groupe:</strong> @ViewBag.group.SamAccountName</div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h4>Groupes:</h4>
        <ul>
            @foreach (var user in ViewBag.users)
            {
                <li>@user.Properties["cn"].Value</li>
            }
        </ul>
    </div>
</div> 