@{
    Layout = "~/Views/Shared/BaseLayout.cshtml";
    ViewBag.Title = "Home";
}
<ul>
    <li><a href="~/Info/FindUser">Rechercher un utilisateur</a></li>
    <li><a href="~/Info/FindGroup">Rechercher un groupe</a></li>
    <li><a href="~/Home/Login">Connexion</a></li>
    <li><a href="~/Check">Outils de contrôle</a></li>
</ul>